@font-face {
  font-family: "KumbhSans-Bold";
  src: url("./assets/KumbhSans-Bold.ttf");
}

@font-face {
  font-family: "KumbhSans-Light";
  src: url("./assets/KumbhSans-Light.ttf");
}




html{
	box-sizing: border-box;
	font-size: 12px;
  font-family: "KumbhSans-Light"
}


*,
*:after,
*:before{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}



